<tr id = "data">
  <td class="innerpadding borderbottom">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td>
            <h3> Factura en Cta. Cte. - Martinez Elásticos S.R.L </h3>
          </td>
        </tr>
        <tr>
          <td class="bodycopy">
            <p>
              Buenos días, <%= @invoice.client.name %> se le envía como dato adjunto, <%= @invoice.name_with_comp %>
            </p>
            <p>
              Por cualquier consulta, por favor, no dude en llamarnos.
            </p>
            <p>
              Saludos cordiales.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
