<span class="important-number text-right d-block">
  Subtotal conceptos: $<span class="total_details">0.00</span>
</span>
<span class="important-number text-right text-success d-block">
  Descuentos: -$<span class="total_bonifications">0.00</span>
</span>
<span class="important-number text-right d-block mb-3">
  Otros impuestos: $<span class="total_tributes">0.00</span>
</span>

<span class="h3 important-number text-right d-block text-bold mb-1">
  TOTAL VENTA: $<span class="final_total">0.00</span>
</span>
<span class="important-number text-right d-block">
  Saldo: $<span class="total_payments_left">0.00</span>
</span>
<span class="important-number text-right d-block">
  Abonado: $<span class="total_payments">0.00</span>
</span>
