<div class="form-group">
  <%= label_tag :suppplier_phone, "Contacto" %>
  <%= text_field_tag :suppplier_phone, @purchase_order.supplier_phone, class: 'form-control', readonly: true %>
</div>

<div class="form-group">
  <%= label_tag :supplier_email, "E-mail" %>
  <%= text_field_tag :supplier_email, @purchase_order.supplier_email, class: 'form-control', readonly: true %>
</div>