<div class="p-4">
	<div class="row">
		<div class="col-8">
			<h1 class="h2"> Nueva Factura</h1>
		</div>
		<div class="col-4 text-right">
			<button class="btn btn-primary " role="button" onclick="toggleHeader()" id="encabezado"><%= icon('fas' ,'eye-slash') %> Ocultar encabezado</button>
		</div>
	</div>

	<div id="invoice_form">
		<% DailyCash.current_daily_cash current_user.company_id %>
		<%= render '/invoices/form' %>
	</div>
</div>
