<!-- PIE DE PAGINA -->
<div class="row footer_bottom">
  <div class="container">
    <table class="width_100">
    <tr>
      <td><%= wicked_pdf_image_tag '/images/afip.png',:width => "150"%></td>
      <td><b>Comprobante Autorizado</b></td>
      <td>Pag. <%= page_number %>/<%= total_pages%> </td>
      <td class="text_right"><b>CAE N°:</b> NUMERO DE CAE</td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text_right"><b>Fecha de Vto. de CAE: </b>VTO DE CAE</td>
    </tr>
  </table>
  </div>
</div>
Page <span class="page"></span> of <span class="topage"></span>
<!-- FIN PIE DE PAGINA -->

<div class="nobreak">

</div>
