<div class="p-4">
	<div class="row">
		<div class="col">
			<h1 class="h2"> Remito Nº <%= @delivery_note.number.to_s %></h1>
		</div>
		<div class="col text-right">
			<%= link_to "#{icon('fas', 'file-pdf')} Ver PDF".html_safe, delivery_note_path(@delivery_note.id, format: :pdf), target: '_blank', class: 'btn btn-info' %>
		</div>
	</div>
	<div id="form">
		<%= render 'form', arrival_note: @arrival_note %>
	</div>
</div>
