<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Hola <%= @user.name %>!</h1>
    <%= @advertisement.body.html_safe %>
  </body>
</html>

<!-- http://localhost:3000/rails/mailers/advertising_mailer/sample_mail_preview -->

<!-- http://localhost:3000/rails/mailers -->
