<p class="text-muted">Permisos asignados</p>
<div class="">
  <ul>
    <% @permissions.each do |permission| %>
      <li>
        <%= permission.friendly_name %>
      </li>
    <% end %>
  </ul>
</div>
