<span class="important-number text-right d-block form-group"><span class="saldo_label">Monto faltante</span>: $<span class="total_payments_left">0.00</span></span>
<span class="h3 important-number text-right d-block form-group text-bold">TOTAL RECIBO: $<span class="final_total">0.00</span></span>
