<div class="panel panel-default">
	<div class="panel-heading">
		<center>
			<h4>Total diario facturado de <%= I18n.t("date.month_names")[Date.today.month] %></h4>
		</center>
	</div>
	<div class="panel-body">
	  <%= column_chart amount_per_month_invoices_path, prefix: "$" %>
	</div>
</div>
