<div class="panel panel-default">
	<div class="panel-heading">
		<center>
			<h4>Total comisionado por usuario en <%= I18n.t("date.month_names")[Date.today.month] %></h4>
		</center>
	</div>
	<div class="panel-body">
	  <%= column_chart commissioner_per_month_invoices_path %>
	</div>
</div>
