<div class="panel panel-default">
	<div class="panel-heading">
		<center>
			<h4>Cantidad de ventas <%= Date.today.year %></h4>
		</center>
	</div>
	<div class="panel-body">
	  <%= line_chart sales_per_year_invoices_path %>
	  <%#= line_chart Invoice.all.group_by_week("to_date(invoices.cbte_fch, 'dd/mm/YYYY')").group_by_month(:date, format: "%B %Y").sum(:amount) %>
	  <%#= line_chart Invoice.where(state: "Confirmado", cbte_fch: Date.today.at_beginning_of_year.to_s .. Date.today.at_end_of_year.to_s).map{|i| {name: i.cbte_fch, data: i.total } } %>
	</div>
</div>
