<div class="panel panel-default">
	<div class="panel-heading">
		<center>
			<h4>Comprobantes por estado de <%= I18n.t("date.month_names")[Date.today.month] %></h4>
		</center>
	</div>
	<div class="panel-body">
	  <%= pie_chart states_per_month_invoices_path, colors: ["#000000", "#17a2b8","#28a745","#7E817C"] %>
	</div>
</div>
