<div class="form-group col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
    	<h4>Estado de comprobantes por mes</h4>
    </div>
    <div class="panel-body">
      <%= pie_chart states_per_month_invoices_path %>
    </div>
  </div>
</div>