<div class="row">

	<div class="form-group col-md-8">
		<%= render '/stadistics/sales/sales_per_month' %>
	</div>

	<div class="form-group col-md-4">
		<%= render '/stadistics/sales/states_per_month' %>
	</div>

	<div class="form-group col-md-4">
		<%= render '/stadistics/sales/commissioners_per_month' %>
	</div>

	<div class="form-group col-md-8">
		<%= render'/stadistics/sales/amount_per_month' %>
	</div>
</div>
