<div class="p-4">

  <div class="mb-5">
    <h3>Indicadores anuales</h3>
    <%= render '/stadistics/sales/sales_per_year' %>
  </div>

  <div class="mb-5">
    <h3>Indicadores mensuales</h3>

    <%= form_tag sales_stadistics_path, remote: true, id: 'search_form', class: "mb-4" do %>
    <span>
      <%= select_tag :month, options_for_select([["Enero", 1], ["Febrero", 2], ["Marzo", 3], ["Abril", 4], ["Mayo", 5], ["Junio", 6], ["Julio", 7], ["Agosto", 8], ["Septiembre", 9], ["Octubre", 10], ["Noviembre", 11], ["Diciembre", 12]], Date.today.month), prompt: "Busca por mes...",
      class: 'form-control', onchange: 'remoteSubmit("#search_form");'%>
    </span>
    <% end %>

    <div id="graphics_sales">
      <%= render 'graphics' %>
    </div>
  </div>
</div>
