<div class="col-xs-6 col-sm-6 col-md-6">
	<%= render template: '/stadistics/sales/sales_per_month.html.erb' %>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
	<%= render template: '/stadistics/sales/states_per_month.html.erb' %>
</div>