<div class="modal-header">
	<h5 class="modal-title" id="clientModalTitle"><%= icon('far', 'check-circle') %> Confirmar comprobante </h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<div class="alert alert-info">
		<strong>¡Atención!</strong> Está a punto de enviar el comprobante a AFIP para su validación. ¿Está seguro?
	</div>

	<div class="form-group">
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Cliente
				</div>
				<span id="client_name_modal" class="text-bold"><%= @invoice.client.name %></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Tipo de comprobante
				</div>
				<span id="doc_type_modal" class="text-bold"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Subtotal
				</div>
				<span id="confirmation_subtotal"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Descuentos
				</div>
				<span id="confirmation_bonifications"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Tributos
				</div>
				<span id="confirmation_taxes"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					I.V.A.
				</div>
				<span id="confirmation_subtotal_iva"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div class="font-weight-bold h5">
					TOTAL
				</div>
				<span id="invoice_total_modal" class="font-weight-bold h5"></span>
			</li>
		</ul>
	</div>

	<div class="form-group">
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Pagos
				</div>
				<span id="invoice_total_pay_modal"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					Faltante
				</div>
				<span id="invoice_total_left_modal"></span>
			</li>
		</ul>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	<%= button_tag "#{icon('fas', 'check-circle')} Confirmar".html_safe, id:'confirm_invoice_button', onclick: 'setConfirmParam()', class: 'btn btn-success',type:'submit',  data: {disable_with: "#{icon('fas', 'sync')} Cargando..."} %>
</div>
