<div class="panel panel-default">
	<div class="panel-heading">
		<center>
			<h4>Top 10 productos más vendidos en <%= I18n.t("date.month_names")[params[:month].to_i] %></h4>
		</center>
	</div>
	<div class="panel-body">
	  <%= pie_chart top_ten_products_per_month_products_path(month: params[:month]), height: "500px", messages: {empty: "Sin datos"} %>
	</div>
</div>
