<% nested_form_for @invoice do |form| %>
  <% form.fields_for :income_payments, form.object.income_payments.build do |f| %>
    <% @builder = f %>
  <% end -%>
<% end -%>

<%= @builder.fields_for :cash_payment, @builder.object.build_cash_payment do |cpf| %>
  <div class="fields">
  	<%= cpf.label :total, "Total" %>
  	<%= cpf.number_field :total, class: 'form-control', requried: true %>
  </div>
<% end -%>