<% if @invoice %>
	<% nested_form_for @invoice do |form| %>
	  <% form.fields_for :income_payments, form.object.income_payments.build do |f| %>
	    <% @builder = f %>
	  <% end -%>
	<% end -%>
<% end -%>

<% if @client %>
	<% form_for [@client, @account_movement] do |f| %>
		<%= f.fields_for :account_movement_payments do |pf| %>
			<% @builder = f %>
		<% end -%>
	<% end -%>
<% end -%>

<%= @builder.fields_for :cash_payment, @builder.object.build_cash_payment do |cpf| %>
  <div class="fields">
  	<%= cpf.label :total, "Total" %>
  	<%= cpf.number_field :total, step: :any, class: 'form-control subpayment_total', requried: true %>
  </div>
<% end -%>