<div class="modal-body">
	<div class="card-shadow mb-4">
		<ul class="list-group">
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Total:
        		</strong>
      	</div>
      	<span>$<%= @cash_payment.total %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Fecha:
        		</strong>
      	</div>
      	<span><%= @cash_payment.payment.payment_date %></span>
    	</li>
    	<li class="list-group-item d-flex justify-content-between lh-condensed">
      	<div>
        		<strong class="my-0">
          		Generado por:
        		</strong>
      	</div>
      	<span><%= @cash_payment.generator_name %></span>
    	</li>
  </ul>
</div>


	<!-- >>>>>>>>>>>>>>>>>>>>>>>>   DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->

		<% @payment = @cash_payment.payment %>

		<%= render "/payments/associated_document" %>

	<!-- >>>>>>>>>>>>>>>>>>>>>>>>  FIN DOCUMENTO ASOCIADO    <<<<<<<<<<<<<<<<<<<<<<<  -->
	
</div>
