<div class="p-4">
  <%= title_helper 'Tarjetas de crédito' %>
  <% if can? :create, PurchaseInvoice %>
    <%= button_new_helper new_credit_card_path %>
  <% end %>

  <div class="page-section">
    <div class="card">
      <div class="card-header">
        Administrar tarjetas:
      </div>

      <div id="receipts_table" class="card-body">
        <%= render 'credit_cards_table' %>
      </div>
    </div>
  </div>


</div>
