<div id="notification-container" style="position: absolute;width: 800px;right: 0; display:none">
  	<div class="card">
    	<div class="card-header"><%= icon('fas', 'bell') %> Notificaciones</div>
    	<div class="card-body">
    		<div id= "notifications-preload">
      			<center><%= image_tag '/images/preload.gif', class: 'avatar'%></center>
      			<hr>
      		</div>
      		<ul id="notifications"></ul>
    	</div>
  	</div>
</div>