<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 880px;">
    <table class="width_100 TFtable">
    <tr>
      <th class="text_left">En concepto de: </th>
    </tr>
      <tr>
        <td><%= @receipt.concept %></td>
      </tr>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->



<div class="row footer_top">
  <div class="container border">
    <table class="width_100">
      <col width="600">
      <col width="100">
      <tr>
        <td class="text_right"><b>Importe Total:</b></td>
        <td class="text_right"><b>$ <%= @receipt.total %></b></td>
      </tr>
  </table>
  </div>
</div>
