<!-- PIE DE PAGINA -->
  <div class="row footer_bottom">
    <div class="container">
      <table class="width_100">
      <tr>
        <td></td>
      </tr>
    </table>
    </div>
  </div>
<br>
<div class="text_center">
  Página <%= page_number %> de <%= total_pages%>
</div>
<!-- FIN PIE DE PAGINA -->
