<!-- PIE DE PAGINA -->
<% if not @receipt.observation.blank? %>
  <div class="row footer_bottom">
    <div class="container">
      <table class="width_100">
      <tr>
        <td> <b>Observación:</b> <%= @receipt.observation %>  </td>
      </tr>
    </table>
    </div>
  </div>
<% end %>
<br>
<div class="text_center">
  Página <%= page_number %> de <%= total_pages%>
</div>
<!-- FIN PIE DE PAGINA -->
