<div class="p-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
    <h1 class="h2">Clientes</h1>
    <%= button_new_modal_helper(new_client_path(), 'clientModal') %>
  </div>

  <div class="page-section">
    <div class="card card-fluid">
      <div class="card-header">
        FILTROS
      </div>
      <div class="card-body">
        <div id="clients_table">
          <%= render 'clients_table' %>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="modal fade bd-example-modal-lg" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="client_modal">
      </div>
    </div>
  </div>
</div>
