<div class="p-4">
	<!-- TITULO -->
	<%= title_helper "#{@client.name}" %>
	<% if can? :update, Client %>
		<%= button_edit_helper(edit_client_path(@client.id)) %>
	<% end %>
	<!-- TITULO -->
	<div class="row">
		<div class="col">
			<%= render '/clients/basic_info' %>
		</div>
		<div class="col">
			<div class="container-fluid">
				<p class="text-muted">Últimos movimientos</p>
	      		<div class="card card-fluid card-shadow" id="amovements">
	      			<% @account_movements = @client.account_movements.order("created_at DESC").paginate(page: params[:page], per_page: 10) %>
	      			<%= render '/account_movements/account_movements_table' %>
	      		</div>
	      	</div>
		</div>
	</div>
</div>