<div class="modal-header">
  <h5 class="modal-title" id="clientModalTitle"><%= icon('fas', 'users').html_safe %> Editar pago</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= render "/invoices/payment/form" %>