<table class="table table-striped" id="payments">
	<thead>
		<tr>
			<th>#</th>
			<th scope="col">Tipo de pago</th>
			<th scope="col">Monto</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<%= form.fields_for :payments,@invoice.payments.set_payment, wrapper: false do |f| %>
	      <tr class="fields">
	      	<th scope="row">#</th>
	      	<td><%= f.select :type_of_payment, Payment::TYPES.map{|k,v| [v,k]}, {}, {class: 'form-control'} %></td>
	      	<td><%= f.number_field :total, class: 'form-control amount', default: 0 %></td>
	      	<td></td>
	      	<td><%= f.link_to_remove icon('fas', 'trash') %></td>
	      </tr>
	    <% end %>
	</tbody>
</table>
