<%= form_for @debit_payment, url: payments_debit_payment_path() do |f| %>
	<div class="modal-body">
		<%= render 'shared_form', cpf: f %>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		<%= save_button %>
	</div>
<% end -%>
