<div class="p-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
		<h1 class="h2">
			Editar pago a cuenta corriente de <%= @client.name %>
		</h1>
	</div>
	<hr>
	<div class="page-section">
		<div class="col-6 offset-3">
			<div class="card">
	    		<div id="receipts">
	    			<%= render '/sales/clients/account_movements/form' %>
				</div>
			</div>
		</div>
	</div>
</div>
