<div class="modal-header">
  <h5 class="modal-title" id="clientModalTitle">Añadir permiso</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= render 'form', role_permission: @role_permission %>
