<div class="p-4">
	  <%= title_helper 'Roles de Usuario' %>
    <% if can? :create, Role %>    
      <%= button_new_modal_helper(new_role_path(), 'newRoleModal') %>
	  <% end %>
    <div class="page-section">
    <div class="card card-fluid">
      <div class="card-header"> </div>
      <div class="card-body">

        <div id="view_accesses">
          <%= render 'roles' %>
          <% if @roles.empty? %>
          <center><h1>¡Todavia no cargaste ningun rol!</h1></center>
          <% end %>
        </div>
      </div>

</div>


<div class="modal fade bd-example-modal-lg" id="newRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="new_role">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="show">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="edit">
      </div>
    </div>
  </div>
</div>

