@import "bootstrap";
@import "scaffolds";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "companies";


body{
	margin-top: 70px;
}

label{
	font-weight: bold;
}

.col-form-label{
	text-align: right;
}
