.company_logo {
  height: 60px;
  width: auto;
}

.comp_container {
    height: 610px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
    border: 1px solid;
}

.comp_container:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.comp_container > img {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
}

.inline{
    display: inline;
}

.mini-logo{
    width: 75px;
    border-radius: 100%;
    border: solid 3px white;
}
