@import "variables";

.page-item {

    .page-link {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: $primary-color;
      background-color: #fff;
      border: 1px solid $primary-color;
  }

  &.active {
    .page-link {
        z-index: 1;
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
    }
  }

  &.disabled {
    .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border-color: #dee2e6;
    }
  }
}
