@import "variables";

html {
  overflow: hidden;
}

.scrolleable {
  overflow-y: auto !important;
}

::-webkit-scrollbar {
    width: 8px; 
    padding-top: 60px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
}
