table.invoice-table > tbody > tr > td{
	padding: 5px 0.75rem;
}

.rounded-state{
  width: 12px;
  height: 12px;
  border-radius: 100% !important;
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
}

.filters{
	flex-flow: row nowrap;
	justify-content: flex-start;
}

@media (max-width: 992px) {
	td > input.form-control {width: auto;}
}

.invoice-header-right {
  position: fixed;
  top: 100px;
  right: 25px;
}

.text-centered {
  text-align: center;
}

.dropdown-menu-invoice.show{
  transform: translate3d(3px, 38px, 0px) !important;
}

.tooltip {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(107px, 750px, 0px) !important;
}