.alert-lc {
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  display: none;

  &.alert-lc-success {
    color: #ffffff;
    background-color: #4aa746;
  }

  &.alert-lc-danger {
    color: #ffffff;
    background-color: #bf1d1d;
  }
}
