* {
  box-sizing: border-box;
}

// MAQUETADO
.width_100 { width:100%; }
.width_50 { width:50%; }
.width_75 { width:75%; }
.width_25 { width:25%; }
.m-0 { margin: 0; }
.mb-2 { margin-bottom: 2rem; }

.p-2 { margin: 2rem; }

.lh-lg { line-height: 2rem;}
// MAQUETADO

.border {
  border: 1px solid black;
  margin: 0 0 0 0;
}
.border-bottom {
  border-bottom: 1px solid black;
}
.side_borders{
  border-right: 1px solid black;
  border-left: 1px solid black;
}

// TEXTOS
.text-sm { font-size: 10px; }
.text-lg { font-size: 25px; }
.text-xl { font-size: 50px; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.text_justify { text-align: justify; }
.text-bold { font-weight: bold; }

// TEXTOS

.right_border{
  border-right: solid 1px;
}

.description_header {
  background: lightgray;
  border: 1px solid black;
}
.header_word_break {
  width: 200px;
  word-break: break-all;
}
.invoice_type {
  border: 1px solid;
  padding:20px;
  margin: 0px;
  outline-width: 0px;
}

.bg-white {
  background-color: white !important;
}

.invoice_pdf {
  font-size: 12px;
}

// Saltos de página
.alwaysbreak {
  page-break-after: always;
  margin-bottom: 0;
 }
.nobreak:before {
  clear:both;
}
.nobreak {
  page-break-inside: avoid;
}
// Saltos de página


// Tabla con filas con background alternado
	.TFtable{
		width:100%;
		border-collapse:collapse;
	}

	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #b8d1f3;
	}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){
		background: #CCC;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #FFF;
	}
// Fin tabla con filas alternadas
