// USAR POPUP:

// <div class="popup">
//   *** AQUI VA EL CAMPO EN DONDE VA APARECER EL POPUP ***
//   <span class="popuptext" id="myPopup">Esta intentando cobrar un monto superior.</span>
// </div>


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #ff6619;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -15%; /// con bottom y left lo ubicamos, la posicion original es centrado sobre el input
  left: 140%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 45%; /// con top y left la movemos, la posicion original es centrada debajo del cuerpo apuntando hacia abajo
  left: -3%;
  transform: rotate(90deg); // rota la flecha
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ff6619 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
