span.nav-span {
  display: none;
}

.sidebar-animate {
  color: white;
  background-color: theme-color("dark");
  width: auto;
}

ul.navpills > .nav-item{
  border-bottom: 1px solid grey;
  text-align: right;
}

.sidebar > ul > li > .nav-link{
  color: white !important;
}

.dropdown-toggle::after{
  display: none;
}

.sidebar-animate:hover{

  span.nav-span {
    display: inline-block;
  }
  .dropdown-toggle::after{
    display: inline-block;
    float: left;
    margin-top: 7px;
  }
  li.nav-item > div.dropdown-menu.show{
    display: inline-block;
  }
}

li.nav-item > div.dropdown-menu {
  background-color: theme-color("dark") !important;
  display: none;
}

li.nav-item > div.dropdown-menu > a.dropdown-item{
  color: white !important;
  text-align: right;
}

.dropdown-item:hover{
  background-color: rgba(0,0,0,.5);
}

#navpills{
  align-items: initial !important;
}
