span.only-desktop {
  display: none;
}

.sidebar-animate {
  color: white;
  background-color: theme-color("dark");
  width: 10% !important;
  left: -7% !important;
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: transform 400ms ease;
  transition: left 400ms ease-in-out;
}

.nav-item{
  border-bottom: 1px solid grey;
  text-align: right;
}

.nav-link{
  color: white !important;
}

.dropdown-toggle::after{
  display: none;
}

.sidebar-animate:hover{
  left: 0px !important;
  span.only-desktop {
    display: inline-block;
  }
}