#bg { 
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-image: url("/images/background-market.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.full-table{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-y: hidden;
}

.login-header{
  background-color:#f57c00;
}

.avatar{
  border-radius: 100%;
  border-color: grey;
  border-style: solid;
  width: 35px;
  border-width: 2px;

}

.responsive-img{
  width: 100%;
}

#employee-card, #manager-card{
  height: 200px;
  overflow: hidden;
  border-style: solid;
  border-color: grey;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

#company_code_popover{
  color: black;
}