$breakpoint-tablet: 992px;
$breakpoint-phone: 768px;

$navbar-background-color: #f4f5f7;
$sidebar-tablet-background-color: #353a40e0;
$sidebar-phone-background-color: #f4f5f7;
$sidebar-background-color: #f4f5f7;

$light-dark-background: #e6e8ed;
$light-background: #f6f6f9;
$primary-color: #46b04a;

// new

$dark-background-color: #f4f5f7;

$accent-color: #ff4568;

$text-muted: #afafb1;
$text-regular: #55555a;

$light-shadow: rgba(0, 0, 0, 0.15);
