<!-- PIE DE PAGINA -->
<div class="row footer_bottom">
  <div class="container">
    <table class="width_100">
    <tr class="width_100">
      <td style="width:33%;font-size: 12px;"><center>Powered by</center></td>
      <td style="width:34%;"></td>
      <td style="width:33%;"></td>
    </tr>
    <tr>
      <td><center><%= wicked_pdf_image_tag '/images/logo_lite_code.png',width: "100", float: "left" %></center></td>
      <td></td>
      <td></td>
    </tr>

  </table>
  </div>
</div>
<div class="text_center">
  Página <%= page_number %> de <%= total_pages%>
</div>

<!-- FIN PIE DE PAGINA -->
