<h1 class="d-flex mb-2">
  <div class="p-2">
    <%= icon('fas', 'plus') %>
    Nuevo producto
  </div>
  <div class="ml-auto p-2">
    <%= link_to "#{icon('fas', 'chevron-left')} Volver".html_safe, :back, class: 'btn btn-danger' %>
  </div>
</h1>
<hr>
<%= render 'form', product: @product %>
