<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Disponible</th>
        <th>Reservado</th>
        <th>Cantidad</th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |product| %>
        <tr>
          <td><%= link_to stock.product.name, product_path(stock.product) %></td>
          <td><%= stock.state %></td>
          <td><%= stock.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @stocks %>
</div>
