<div class="p-4">
  <%= title_helper 'Seleccione destinatarios' %>
  <div id="form">
    <div class="page-section">
      <div class="card">
        <div class="card-body" id="clients_table">
          <%= render 'clients_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
