<div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">

  <b> Fecha: </b> <%= @sended_advertisement.created_at %><br>
  <b> Destinatarios: </b>
  <% @sended_advertisement.clients_data.split(',').each do |c| %>
    <% Client.find(c).client_contacts.each do |contact| %>
      <%= contact.name %> < <%= contact.email %> > -
    <% end %>
  <% end %>
  <br>

</div>
