<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#"><%= icon('fas', 'home') %> Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><%= icon('fas', 'building') %> Compañía</a>
  </li>
</ul>