<div class="mr-4 mt-4 dropdown float-right">
  <button class="user-pill dropdown-toggle nav-link px-3 menu-item py-2" type="button" id="dropdownUserPill" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag current_user.avatar, alt: "Imágen de perfil", class: 'avatar avatar-sm mr-2' %>
    <%= current_user.name %>
  </button>
  <div class="dropdown-menu w-100" aria-labelledby="dropdownUserPill">
    <%= link_to "#{icon('fas', 'power-off')} Salir".html_safe, destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
  </div>
</div>
